RewriteEngine On

# Allow direct access to assets folder
RewriteRule ^Mouhcine-Essafi_Wiki/assets/ - [L]

# Redirect to index.php for all other requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]